table {
    border-collapse: collapse;
    font-family: sans-serif;
}

.weekend {
    color: #f10000;
}

td,
th,
caption {
    padding: 2px;
    border: 1px solid #000;
}

caption {
    font-weight: 700;
    border-bottom: none;
}